.logo {
  background-color: bisque;
}
.abt1 {
  background-color: cornflowerblue;
  padding: 100;
}
.t0 {
  text-align: center;
  background-color: bisque;
  border: 20;
}
.t1 {
  text-align: center;
}
.t2 {
  text-align: center;
  text-decoration: underline;
}
.t3 {
  text-align: center;
}
.t4 {
  text-align: center;
}
.t5 {
  text-align: center;
}
